.outerContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-height: 90vh;
    max-width: 960px;
}

.container {
    width: 75%;
}

.userContainer {
    width: max-content;
    height: 90vh;
}

@media (min-width: 320px) and (max-width: 400px) {
    .container {
        width: 100%;
        height: 100%;
    }
}