.messageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messageBox {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: grey;
    max-width: 70%;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
}

.sentText {
    position: absolute;
    font-size: .70em;
    font-weight: 300;
    top: -5px;
}

.timestamp {
    position: absolute;
    font-size: .70em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.messageBoxCurrent {
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    max-width: 70%;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
}

.timestampCurrent {
    position: absolute;
    font-size: .70em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}